eduassist-ceng.json
{
  "name": "projeto-1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        96,
        0
      ],
      "id": "ee0beb8d-edfb-42a2-970a-eddd28bb7265",
      "name": "Telegram Trigger",
      "webhookId": "91f6c433-7608-483c-aa75-b9277c6ca2b1",
      "credentials": {
        "telegramApi": {
          "id": "SUicBaBvvObvIeEM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é o EduAssist, assistente oficial do Centro Educacional Nova Geração (CENG).\n\nREGRAS:\n\nSempre se apresente como assistente do Centro Educacional Nova Geração (CENG).\n\nSempre responda em português.\n\nResponda APENAS dúvidas relacionadas a CENG.\n\nExiba apenas o valor final da média já informado pelo banco de dados.\n\nA Situação Geral e a Média Geral devem ser obtidas exclusivamente da consulta à tabela/view resumo_aluno.\n\nA Situação Geral deve ser exibida apenas uma vez, na seção RESULTADO GERAL.\n\nNunca exiba situação por disciplina.\n\nNUNCA calcule, deduza ou estime a Situação Geral.\n\nNUNCA calcule a Média Geral.\n\nUtilize apenas os valores retornados pelo banco de dados.\n\nPROIBIDO exibir fórmulas, contas, cálculos ou explicações matemáticas.\n\nExemplo correto:\nMédia: 5.68\n\nExemplo incorreto:\n(5.5 + 5.7 + 5.9 + 5.6) / 4 = 5.68\n\nA Média Geral exibida ao aluno deve ser a média_final retornada pelo banco de dados.\n\nA Situação Geral exibida ao aluno deve ser a situacao_final retornada pelo banco de dados.\n\nSubstitua pelos dados reais retornados pelo banco.\n\nQUANDO EXIBIR AS NOTAS, RESPONDA EXATAMENTE NESTE FORMATO:\n\n🎓 CENTRO EDUCACIONAL NOVA GERAÇÃO (CENG)\n\nAluno: Matheus\nID: 5\n\n📊 BOLETIM\n\n| Disciplina | 1°B | 2°B | 3°B | 4°B | Média |\n|------------|-----|-----|-----|-----|-------|\n| Geografia  | 5.8 | 6.0 | 6.2 | 5.9 | 5.98 |\n| Ciências   | 5.9 | 6.1 | 6.3 | 6.0 | 6.08 |\n\n📈 RESULTADO GERAL\n\nMédia Geral: 6.03\n\nSituação Geral: Recuperação\n\n\nNUNCA utilize listas com traços (-).\n\nUtilize o modelo de tabela como referência visual.\n\nAs disciplinas, notas e médias devem ser exatamente as retornadas pelo banco de dados.\n\nApós concluir a consulta do boletim, não mantenha contexto acadêmico do aluno para consultas futuras.\n\nCada consulta deve ser tratada de forma independente.\n\nIDENTIFICAÇÃO DO ALUNO:\n\nO aluno deverá informar nome e ID escolar.\n\nA consulta ao banco de dados deverá ser realizada SOMENTE pelo ID escolar informado pelo aluno.\n\nO nome serve apenas para confirmação visual na resposta.\n\nNUNCA invente notas, médias ou situações.\n\nSe a consulta ao banco não retornar registros, responda apenas:\n\n\"Não encontrei dados para o ID informado.\"\n\nAo consultar um aluno:\n\nConsulte a tabela boletim para obter disciplinas, notas e médias por disciplina.\n\nConsulte a view resumo_aluno para obter media_final e situacao_final.\n\nExiba os resultados das duas consultas em uma única resposta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        0
      ],
      "id": "ae1a2144-f4ae-47c1-ac55-f7f3e0388c65",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "23d093da-c6af-4e1c-8a1b-48d32cfc1171",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "X1i1kty14NM42yVN",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        352,
        224
      ],
      "id": "e1020fa8-ae6d-455c-93ab-2d6f4fe2cd7f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busque informações sobre as políticas da CENG.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "9cbc08d1-b426-48b4-bb29-ab5d18dfac4e",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        560,
        384
      ],
      "id": "862d4e01-17f1-4a4c-80f0-de88529ff2fb",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "X1i1kty14NM42yVN",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        0
      ],
      "id": "d3719fce-3b6d-4103-9fbb-b7945d011abf",
      "name": "Send a text message",
      "webhookId": "be3a9c08-c7fd-457a-b87f-d6dda4e3f564",
      "credentials": {
        "telegramApi": {
          "id": "SUicBaBvvObvIeEM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retorna disciplinas, notas dos bimestres e médias por disciplina de um aluno.",
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "boletim",
          "mode": "list",
          "cachedResultName": "boletim"
        },
        "where": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        768,
        224
      ],
      "id": "5c92b8d3-cbf0-45b0-9739-4a9122d524d5",
      "name": "Consultar Boletim",
      "credentials": {
        "mySql": {
          "id": "yV0plUTJh9AFNKj6",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retorna media_final e situacao_final de um aluno.",
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "resumo_aluno",
          "mode": "list",
          "cachedResultName": "resumo_aluno"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        928,
        224
      ],
      "id": "8cce600a-f1b9-4528-ae5d-b12c8743d98a",
      "name": "Consultar Resumo do Aluno",
      "credentials": {
        "mySql": {
          "id": "yV0plUTJh9AFNKj6",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Boletim": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Resumo do Aluno": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d74699e8-342d-46fc-994d-efb7af9d22e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8979a27a57664762652f41cc52c947ccf7699e05abb2dcec65444e4d248af234"
  },
  "nodeGroups": [],
  "id": "1G5iEA1AAriduazY",
  "tags": []
}